// Separating Files
// - in sass we can create "partial" sass files that contain little snippets of css that we can include in other sass files

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
